//- for index_09_authentication
html    
    title Sign Up! 
body
    h4 Sign Up! 
    form(action='/signup' method= 'post')
        input(type="text" name="id" required placeholder='User id')
        input(type="text" name="password" required placeholder='Password')
        button(type='submit') Sign Up
